@model _00_DataAccessLayer.Entity.Administrator
<a href="#" class="top">
    <span class="header-profile-menu-icon">
        <img class="list-thumbnail" src="~/Content/images/admin/@Model.Path" width="39" height="39" alt="39x39" />
    </span>
    <span class="main-menu-text">
        @Model.Name @Model.Surname
        <i class="icon icon-arrow-down-bold-round icon-size-small"></i>
    </span>
</a>
