
@{
    ViewBag.Title = "Kategori";
    Layout = "~/Views/Shared/_userLayoutPage.cshtml";
}

<section id="breadcrumb">

    <div class="container">
        <div class="le-breadcrumb inline">
            <div class="iconic-nav-bar">
                <div class="icon-holder">
                    <i class="fa fa-chain"></i>
                    <span class="triangle"></span>
                </div>
                <div class="bar">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home", new { id = UrlParameter.Optional })">Anasayfa</a></li>
                        <li><a href="#">Ürünler</a></li>
                        <li class="active">Kategori</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>

<section id="products-grid-sidebar" class="section-products-grid">
    <div class="container">
        <div class="col-xs-12 col-md-3">
            <div class="sidebar">

                @*Kategoriler buraya gelecek*@
                <div class="accordion-widget category-accordions widget">
                    <div class="icon-holder small">
                        <i class="fa fa-chain"></i>
                        <span class="triangle"></span>
                    </div>
                    @{Html.RenderAction("ClickedCategoryUstPartial", "ProductGrid"); }
                   
                    <div class="accordion">
                       
                        <div class="accordion-group">

                            @{Html.RenderAction("ClickedCategoryPartial", "ProductGrid"); }

                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <ul>
                                       @{Html.RenderAction("ClickedCategorySubPartial", "ProductGrid"); }
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                @*markalar buraya gelecek*@
                @{Html.RenderAction("ClickedProductBrandListPartial", "ProductGrid"); }

                @*Fiyat aralığı buraya gelecek*@
                <div class="price-filter widget">
                    <div class="icon-holder small">
                        <i class="fa fa-turkish-lira"></i>
                        <span class="triangle"></span>
                    </div>
                    <h2>Fiyat Aralığı</h2>
                    <div class="price-range-holder">

                        <input type="text" class="price-slider" value="">
                        <span class="min-max">
                            Price: $100 - $700
                        </span>
                        <span class="filter-button">
                            <a href="#">filter</a>
                        </span>
                    </div>

                </div>

      
            </div>

        </div>

        <div class="col-xs-12 col-md-9 ">
            @*Banner Buraya Gelecek*@
         
            @{Html.RenderAction("ClickedCategoryBannerPartial", "ProductGrid"); }

            @*a'dan z'ye| z'den a'ya*@
            <div class="controller-nav-bar row">
                <div class="col-xs-12 col-sm-9 col-md-9">
                    <select class="ctrl-item selectpicker capital" data-style="btn-inverse">
                        <option>sort by price - Ascending</option>
                        <option>sort by price - Descending</option>
                        <option>sort A-Z</option>
                        <option>sort z-a</option>
                    </select>

                    <div class="ctrl-item inline">
                        Show

                        <select class="selectpicker capital" data-width="70px" data-style="btn-inverse">
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>all</option>

                        </select>

                        Products Per Page
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 ">
                    <div class="grid-list-buttons">
                        <ul class="list-inline">
                            <li class="active"><a data-toggle="tab" href="#grid-view"><i class="fa fa-th-large"></i> Grid</a></li>
                            <li><a data-toggle="tab" href="#list-view"><i class="fa fa-th-list"></i> Liste</a></li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="product-grid tab-content">
                <!--grid view starts here-->

                <div id="grid-view" class="tab-pane active">
                    <div class="products-holder simple-grid">
                        <div class="row">
                            @*Grid ürünleri buraya gelecek*@

                                @{Html.RenderAction("ClickedProductCategoryPartial", "ProductGrid"); }
                                
                          

                        </div>
                    </div>
                </div>

                <div id="list-view" class="tab-pane ">

                    <div class="products-holder list-view">
                        @*Liste ürünleri buraya gelecek*@
                        @{Html.RenderAction("ClickedProductCategoryListPartial", "ProductGrid"); }
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

